$primary: (
  0: #000000,
  10: #022100,
  20: #053900,
  25: #0a4601,
  30: #19520d,
  35: #265e19,
  40: #326b24,
  50: #4a843a,
  60: #649f51,
  70: #7dbb69,
  80: #98d782,
  90: #b3f39c,
  95: #cbffb6,
  98: #edffe1,
  99: #f7ffee,
  100: #ffffff,
);

$secondary: (
  0: #000000,
  10: #121f0e,
  20: #273421,
  25: #323f2c,
  30: #3d4b37,
  35: #485642,
  40: #54624d,
  50: #6c7b65,
  60: #86957d,
  70: #a0b097,
  80: #bbcbb1,
  90: #d7e8cc,
  95: #e6f6da,
  98: #eeffe2,
  99: #f7ffee,
  100: #ffffff,
);

$tertiary: (
  0: #000000,
  10: #002021,
  20: #003739,
  25: #0f4244,
  30: #1e4e50,
  35: #2b595c,
  40: #386668,
  50: #517f81,
  60: #6b999b,
  70: #85b3b6,
  80: #a0cfd1,
  90: #bcebee,
  95: #cafafc,
  98: #e6feff,
  99: #f2ffff,
  100: #ffffff,
);

$error: (
  0: #000000,
  10: #410002,
  20: #690005,
  25: #7e0007,
  30: #93000a,
  35: #a80710,
  40: #ba1a1a,
  50: #de3730,
  60: #ff5449,
  70: #ff897d,
  80: #ffb4ab,
  90: #ffdad6,
  95: #ffedea,
  98: #fff8f7,
  99: #fffbff,
  100: #ffffff,
);

$neutral: (
  0: #000000,
  5: #10110e,
  10: #1a1c18,
  15: #252623,
  20: #2f312d,
  25: #3a3c38,
  30: #454743,
  35: #51534e,
  40: #5d5f5a,
  50: #767872,
  60: #90918c,
  70: #abaca6,
  80: #c6c7c1,
  90: #e2e3dc,
  95: #f1f1ea,
  98: #fafaf3,
  99: #fcfdf6,
  100: #ffffff,
);

$neutral-variant: (
  0: #000000,
  5: #0e120c,
  10: #181d15,
  15: #222720,
  20: #2c3229,
  25: #373d34,
  30: #43483f,
  35: #4e544a,
  40: #5a6056,
  50: #73796e,
  60: #8d9387,
  70: #a7ada1,
  80: #c3c8bc,
  90: #dfe4d7,
  95: #edf3e5,
  98: #f6fbee,
  99: #f9fef1,
  100: #ffffff,
);
