@use '../abstracts/_colors' as *;

$dark-theme: (
  primary: map-get($primary, 80),
  on-primary: map-get($primary, 20),
  inverse-primary: map-get($primary, 40),
  primary-container: map-get($primary, 30),
  on-primary-container: map-get($primary, 90),
  secondary: map-get($secondary, 80),
  on-secondary: map-get($secondary, 20),
  secondary-container: map-get($secondary, 30),
  on-secondary-container: map-get($secondary, 90),
  tertiary: map-get($tertiary, 80),
  on-tertiary: map-get($tertiary, 20),
  tertiary-container: map-get($tertiary, 30),
  on-tertiary-container: map-get($tertiary, 90),
  error: map-get($error, 80),
  on-error: map-get($error, 20),
  error-container: map-get($error, 30),
  on-error-container: map-get($error, 90),
  surface-container-lowest: map-get($neutral, 5),
  surface-container-low: map-get($neutral, 10),
  surface-container: map-get($neutral, 15),
  surface-container-high: map-get($neutral, 20),
  // deprecated
  surface-container-highest: map-get($neutral, 25),
  inverse-surface: map-get($neutral, 90),
  inverse-on-surface: map-get($neutral, 20),
  surface-variant: map-get($neutral-variant, 30),
  on-surface-variant: map-get($neutral-variant, 80),
  on-surface: map-get($neutral, 90),
  outline: map-get($neutral-variant, 60),
  outline-variant: map-get($neutral-variant, 30),
);
