@use '../abstracts/_colors' as *;

// NOTE: Deprecation flag
// https://material.io/blog/tone-based-surface-color-m3
// ----------------------------------------------------
// Surface Container Lowest is a new role
// Surface at elevation +1 becomes Surface Container Low
// Surface at elevation +2 becomes Surface Container
// Surface at elevation +3 becomes Surface Container High
// Surface at elevation +4 and +5 are being deprecated, it is recommended to use Surface Container Highest by default as a replacement. As an alternative Surface Container High, or Surface Dim can be used depending on the specific use case.
// Surface Variant becomes Surface Container Highest

$light-theme: (
  primary: map-get($primary, 40),
  on-primary: map-get($primary, 100),
  inverse-primary: map-get($primary, 80),
  primary-container: map-get($primary, 90),
  on-primary-container: map-get($primary, 10),
  secondary: map-get($secondary, 40),
  on-secondary: map-get($secondary, 100),
  secondary-container: map-get($secondary, 90),
  on-secondary-container: map-get($secondary, 10),
  tertiary: map-get($tertiary, 40),
  on-tertiary: map-get($tertiary, 100),
  tertiary-container: map-get($tertiary, 90),
  on-tertiary-container: map-get($tertiary, 10),
  error: map-get($error, 40),
  on-error: map-get($error, 100),
  error-container: map-get($error, 90),
  on-error-container: map-get($error, 10),
  surface-container-lowest: map-get($neutral, 100),
  surface-container-low: map-get($neutral, 98),
  surface-container: map-get($neutral-variant, 95),
  surface-container-high: map-get($neutral-variant, 90),
  surface-container-highest: map-get($neutral-variant, 90),
  inverse-surface: map-get($neutral, 20),
  inverse-on-surface: map-get($neutral, 95),
  surface-variant: map-get($neutral-variant, 90),
  on-surface-variant: map-get($neutral-variant, 30),
  on-surface: map-get($neutral, 10),
  outline: map-get($neutral-variant, 50),
  outline-variant: map-get($neutral-variant, 80),
);
